# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Build output
*.7z
*.zip
dist/

# Node
node_modules/
.npm/
.nodejs/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
